Django==1.10.6
Mako==0.9.1
MarkupSafe==0.18
chardet==2.2.1
dj-database-url==0.4.2
djangorestframework==3.6.2
gunicorn==19.7.1
html5lib==0.999
httplib2==0.8
lxml==3.3.3
oauthlib==0.6.1
piston-mini-client==0.7.5
psycopg2==2.7.1
pycrypto==2.6.1
pycurl==7.19.3
requests==2.2.1
urllib3==1.7.1
wheel==0.38.1
whitenoise==3.3.0
