Django==1.10.6
Mako==0.9.1
MarkupSafe==0.18
chardet==2.2.1
dj-database-url==0.4.2
djangorestframework==3.6.2
gunicorn==19.7.1
html5lib==0.999
httplib2==0.8
language-selector==0.1
louis==2.5.3
lxml==3.3.3
oauthlib==0.6.1
onboard==1.0.1
oneconf==0.3.7.14.04.1
piston-mini-client==0.7.5
psycopg2==2.7.1
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyparsing==2.0.1
pyxdg==0.25
requests==2.2.1
unattended-upgrades==0.1
urllib3==1.7.1
usb-creator==0.2.23
wheel==0.24.0
whitenoise==3.3.0
xdiagnose==3.6.3build2
xkit==0.0.0
